## Задание 1
zan1 = list(mean(iris$Sepal.Length), mean(iris$Sepal.Width), mean(iris$Petal.Length), mean(iris$Petal.Width))
zan1 
names(zan1) = c("Длина чашелистиков", "Ширина чашелистиков", "Длина лепестков", "Ширина лепестков")
zan1

## Задание 2
z=iris 
z$Species=NULL 
z 
z[1,1:4] 
sum(z[1,1:4]) 
sum(z[1,1:4])/4 
y=0 
for(i in 1:150) 
{x = sum(z[i,1:4])/4 
y = c(x,y)} 
y 
